@font-face {
    font-family: 'Kumbh Sans';
    src: url('../fonts/KumbhSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('../fonts/KumbhSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('../fonts/KumbhSans-Light.ttf');
    font-weight: lighter;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(270deg, hsl(273, 75%, 66%), 35%, hsl(240, 73%, 65%));
    background: -moz-linear-gradient(270deg, hsl(273, 75%, 66%), 35%, hsl(240, 73%, 65%));
    background: -webkit-gradient(270deg, hsl(273, 75%, 66%), 35%, hsl(240, 73%, 65%));
    background: -webkit-linear-gradient(270deg, hsl(273, 75%, 66%), 35%, hsl(240, 73%, 65%));
    background: -o-linear-gradient(270deg, hsl(273, 75%, 66%), 35%, hsl(240, 73%, 65%));
    background: -ms-linear-gradient(270deg, hsl(273, 75%, 66%), 35%, hsl(240, 73%, 65%));
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Kumbh Sans';
}

.main-container {
    background-color: #FFFFFF;
    border-radius: 40px;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1 1 0;
}

.illustration-column {
    background-image: url('../images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: 185%;
    background-position: 115% 70%;
    overflow: hidden;
}

.illustration-column img {
    height: auto;
    width: 100%;
    right: 72px;
    position: relative;
    bottom: -45px;
}

.content-column {
    padding: 0px 80px 80px 0;
}

.content-column h1 {
    padding-top: 75px;
    font-size: 34px;
}

.accordion {
    cursor: pointer;
    text-align: left;
    transition: 0.4s;
    border: none;
    outline: none;
    background-color: #FFFFFF;
    padding: 10px 0;
    font-size: 14px;
    color: hsl(237, 12%, 33%);
}

.accordion:after {
    content: url('../images/icon-arrow-down.svg');
    float: right;
    padding-right: 10px;
}

.active:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.active {
    font-weight: bold;
}

.accordion:hover {
    color: hsl(14, 88%, 65%);
}

.panel {
    overflow: hidden;
    color: hsl(240, 6%, 50%);
    display: none;
}

hr {
    width: 100%;
    border: 0;
    border-top: 0.5px solid hsl(240, 5%, 91%);
}

.attribution {
    position: fixed;
    bottom: 0;
}